<p class="" id="app_configuration_for_bank_fields">
       <label for="app_configuration_for_gift_amount">Numer oddziału banku: </label><br>
       <input class="input_string" id="app_configift_amount" name="conf[bank_id]" size="10" type="text" value="<%= Spree::Config[:bank_id] %>">   
</p>

<p class="" id="app_configuration_for_bank_fields">
       <label for="app_configuration_for_gift_amount">Numer sklepu w MassCollect: </label><br>
       <input class="input_string" id="app_configurationmount" name="conf[collect_id]" size="10" type="text" value="<%= Spree::Config[:collect_id] %>">   
</p>

<p class="" id="app_configuration_for_bank_fields">
       <label for="app_configuration_for_gift_amount">Adres sklepu do przelewu: </label><br>
       <input class="input_string" id="app_con_for_gift_amount" name="conf[address]" size="10" type="text" value="<%= Spree::Config[:address] %>">   
</p>